Documentation/DocTex/connectionMessageSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="components">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TaskManager"/>
      <xs:enumeration value="ComputationalNode"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="ip">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,3}(\.[0-9]{1,3}){3}"/>
    </xs:restriction>
  </xs:simpleType> 
  
  <xs:element name="ConnectionMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="components" name="ComponentType"/>
        <xs:element type="ip" name="IP"/>
        <xs:element type="xs:integer" name="Port"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>