Documentation/DocTex/messageSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="messageTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProblemsListRequest"/>
      <xs:enumeration value="ProblemsList"/>
      <xs:enumeration value="TaskOrder"/>
      <xs:enumeration value="TaskSolvedListRequest"/>
      <xs:enumeration value="TaskSolvedList"/>
      <xs:enumeration value="TaskSolved"/>
      <xs:enumeration value="TaskSolvedRequest"/>
      <xs:enumeration value="SubtaskOrder"/>
      <xs:enumeration value="SubtaskSolved"/>
      <xs:enumeration value="NodeError"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence >
        <xs:element type="messageTypes" name="MessageType"/>
        <xs:element type="guid" name="problemClassId" minOccurs="0"/>
        <xs:element type="guid" name="problemId" minOccurs="0"/>
        <xs:element type="xs:string" name="Data" minOccurs="0"/>
        <xs:element name="ProblemClassList" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProblemClass" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="problemClassName" use="required"/>
                      <xs:attribute type="guid" name="problemClassId" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="TaskName" minOccurs="0"/>
        <xs:element name="TasksList" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Task" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="required"/>
                      <xs:attribute type="guid" name="id" use="required"/>
                      <xs:attribute type="xs:string" name="problemClassName" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence >
      <xs:attribute type="guid" name="messageGuid" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>